  <%= form_for @subcategory do |form| %>
    <%= render partial: '/subcategories/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
       <%= link_to 'Back', root_path %>
    </div>
    
  <% end %>