<h1>HI</h1>
<div>
<%= image_tag @subcategory.photo.url %>
<%= image_tag @subcategory.photo.thumb.url %>

</div>

<!-- {
  "Id": "Policy1495441840459",
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Stmt1495441833126",
      "Action": [
        "s3:GetObject"
      ],
      "Effect": "Allow",
      "Resource": "arn:aws:s3:::tomodomo/*",
      "Principal": "*"
    }
  ]
}
       -->