<h1>HI</h1>
<div>
<%= image_tag @subcategory.photo.url %>
<%= image_tag @subcategory.photo.thumb.url %>

</div>

<i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
<span class="sr-only">Refreshing...</span>
