<!-- <h1>Hi</h1>


<img id="myimg">
<script type="text/javascript">
  // Create a reference to the file we want to download
$(document).ready(function() {
    $('#myimg').append('<img src="ajax-loader.gif" class="loader"/> ');

var storageRef = firebase.storage().ref("images/cat_news.jpg");
storageRef.getDownloadURL().then(function(url) {
  var img = document.getElementById('myimg');
  img.src = url;

}).catch(function(error) {

  // A full list of error codes is available at
  // https://firebase.google.com/docs/storage/web/handle-errors
  switch (error.code) {
    case 'storage/object_not_found':
      // File doesn't exist
      break;

    case 'storage/unauthorized':
      // User doesn't have permission to access the object
      break;

    case 'storage/canceled':
      // User canceled the upload
      break;


    case 'storage/unknown':
      // Unknown error occurred, inspect the server response
      break;
  }
  });
});


</script>

 -->