<!DOCTYPE html>
<html>
  <head>
    <title>Cullab</title>

    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/4fb8a57717.js"></script>

    <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    
    <!-- Propeller css -->
    <!-- <link href="/vendor/css/propeller.min.css" rel="stylesheet"> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-storage.js"></script>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da|Handlee|Carrois+Gothic+SC|Tangerine:700|Montserrat|Titillium+Web|Roboto|Arimo|Open+Sans:300,400" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.4/jquery.pagepiling.js"></script> -->

    <!-- <script type="text/javascript" src="/vendor/js/propeller.min.js"></script> -->
   <script>


  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCQNdo2yj0or1dAEtkajA6HpW75wtfZ1xY",
       authDomain: "finalproject2-bf999.firebaseapp.com",
       databaseURL: "https://finalproject2-bf999.firebaseio.com",
       projectId: "finalproject2-bf999",
       storageBucket: "finalproject2-bf999.appspot.com",
       messagingSenderId: "373504168675"
     };
     firebase.initializeApp(config);
 </script>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
